/*Import*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');



/*Document Setup*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    background-color: hsl(233, 47%, 7%);
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card {
    background-color: hsl(244, 38%, 16%);
    width: 376px;
    height: auto;
    margin: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

/*5 text classes*/

.txt-teaser {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.txt-hl {
    color: hsl(277, 64%, 61%);
}

.txt-desc {
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    line-height: 1.5;
    margin: 1rem 0;
}

.txt-stats {
    font-weight: 700;
    font-size: 1.4rem;
}

.txt-key {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
    text-align: center;
}

/*Image formatting*/

#img-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    min-height: 240px;
    background-image: linear-gradient(to right, #AA5CDB, #AA5CDB), url(./images/image-header-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    width: auto;
}



/*Stats formatting*/

#txt-content {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

.stats-box {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.stats-box div {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



/*Responsive*/

@media (min-width: 768px) {

    body {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #card {
        width: 100%;
        max-width: 1024px;
        height: auto;
        margin: auto 2rem;
        flex-direction: row;
        flex-shrink: 1;
        align-self: center;
    }
    
    #img-header {
        height: auto;
        width: 100%;
        order: 2;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.5rem;
    }
    #txt-content {
        padding: 4rem 8rem 4rem 4rem;
        justify-content: space-between;
    }
    
    .stats-box {
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4rem;
        flex-direction: row;
    }
    .txt-teaser, .txt-desc {
        text-align: left;
    }
    .stats-box div {
        align-items: flex-start;
    }
    .txt-key {
        padding-bottom: 0;
        font-size: 0.8rem;
    }
    .txt-desc {
        font-size: 1.2rem;
    }
    .txt-teaser {
        font-size: 2.4rem;
    }
    .txt-stats {
        font-size: 1.8em;
    }
}



/*FEM Attribution*/

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 1rem;
}

.attribution a {
    color: hsla(228, 45%, 88%, 0.8); 
    }    